tensorflow==2.12.0
keras==2.12.0
tensorflow-estimator==2.12.0
tensorboard==2.12.3
tensorboard-data-server==0.7.0

numpy==1.23.5
protobuf==4.25.3
ml-dtypes==0.1.0
h5py==3.8.0

opencv-python==4.7.0.72
opencv-contrib-python==4.7.0.72
mediapipe==0.10.13
cvzone==1.6.1

matplotlib==3.7.1
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.4
kiwisolver==1.4.4
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2

gTTS==2.5.4
pyttsx3==2.99
requests==2.31.0
urllib3==1.26.18
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4

absl-py==1.4.0
astunparse==1.6.3
flatbuffers==23.5.26
gast==0.4.0
google-pasta==0.2.0
grpcio==1.56.0
libclang==16.0.6
opt-einsum==3.3.0
packaging==23.1
six==1.16.0
termcolor==2.3.0
typing_extensions==4.7.1
Werkzeug==2.3.7
wrapt==1.14.1
setuptools==68.2.2
wheel==0.41.2
